@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

@font-face {
  font-family: "SklowReguler"; /*Can be any text*/
  src: local("SklowReguler"),
    url("./assets/fonts/Sklow-Regular.ttf") format("truetype");
}

/* bold */
@font-face {
  font-family: "SklowBold"; /*Can be any text*/
  src: local("SklowBold"),
    url("./assets/fonts/Sklow-Bold.ttf") format("truetype");
}

/* medium */
@font-face {
  font-family: "SklowMedium"; /*Can be any text*/
  src: local("SklowMedium"),
    url("./assets/fonts/Sklow-Medium.ttf") format("truetype");
}
