body {
  font-family: SklowReguler;
  background: #f8f8f8;
  color: #000;
}

.nav-item {
  font-family: SklowBold;
}

section#hero {
  padding-top: 70px;
}

.hero-title {
  font-family: Outfit;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 77px */
  margin-bottom: 20px;
}

.hero-desc {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  margin: 0;
  margin-bottom: 40px;
}

.btn-group {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

section#benefits {
  background: #2489d3;
}
